    <!-- contact footer -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <p class="title">
              Contact
            </p>
            <p><strong>Alissa Kennedy</strong></p>
            <p><strong>San Diego, CA</strong></p>
<p>Email: <b><a href="mailto:design@alissakennedy.com" target="_top">design@alissakennedy.com</a></b></p>
            <p>Phone: 619.752.4048</p>
          </div>
          <div class="social col-12 col-sm-12 col-md-12 col-lg-6">
                    <p class="title text-right">
              Let's Socialize
            </p>
            <ul class="no-bullet h-menu text-right social-icon">
              <li>
                <a href="https://www.linkedin.com/in/alissakennedy" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/DesignByAlissa" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
                            <li>
                <a href="https://www.facebook.com/AlissaKennedyVisualArts" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
                            <li>
                <a href="https://www.instagram.com/akphoto7/" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
                            <li>
                <a href="https://www.behance.net/AlissaKennedy" target="_blank">
                  <i class="fa fa-behance"></i>
                </a>
              </li>
            </ul>
                      </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <p id="copyright">
            Alissa Kennedy &copy; 2017
            </p>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
            <ul id="menu-content" class="h-menu">
              <li><a href="/index.php">Home</a></li>
              <li><a href="/resume.php">Resume</a></li>
              <li><a href="/contact.php">Contact</a></li>
            </ul>
            </div>
          </div>
        </div>
     </section>