<!-- Header -->
    <nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/index.php">
        <span id="text-logo">Alissa Kennedy</span>
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul id="menu-content" class="nav navbar-nav">
          <li><a href="/index.php">Home</a></li>
          <li><a href="/resume.php">Resume</a></li>
          <li><a href="/contact.php">Contact</a></li>
      </ul>
      </div>
    </nav>