/* Scss Document */

.progress {
	background-color: #EBEBEB;
}

.progress-bar {
	background-color: $cobalt;
}

.loading-title {
	color: $thirdeye;
	font-weight:bold;
	/*font-family: $font-geo;
	font-size:1.5em;*/
}