/* Scss Document */

// Color Names

$neonphoenix: #E0043F;
$neonlotus: #B200B0;
$thirdeye: #6800AD;
$cobalt: #0062FF;
$aether: #00CCFF;
$darkhour: #00056b;
$midnight: #0c0b41;

// Gradients

$gradi1 : $neonphoenix;
$gradi2 : $neonlotus;
$gradi3 : $thirdeye;
$gradi4 : $cobalt;
$gradi5 : $aether;


// Font Stacks

$font-fancy : "Sofia", "Open Sans", Helvetica, Verdana, Sans-Serif; 
$font-geo: "Josefin Sans", Helvetica, Verdana, sans-serif;
$font-reg: "Open Sans", Helvetica, Verdana, sans-serif;


